<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>{{user}} 이(가) 로그인 했습니다.</h1>
	<div>나이 : {{age}}</div>
	<div>주소 : {{address}}</div>
</body>
</html>